<div style="max-width: 1000px; margin: auto; padding: 60px 80px;">
    <h2 style="text-align: center; margin-bottom: 40px;">BLOGS & GUIDES</h2>
    <div id="blog-container" style="width: 100%; display: flex; flex-wrap: wrap; justify-content: center; align-items: center;">
        
    </div>
</div>