<div class="inner">
  <div id="title">
    <h1 style="font-weight: 100; line-height: 56px; text-align: center;">Professional <span style="color: #28A9E1; font-weight: bold;">Game<br>Analysis</span> & <span style="color: #28A9E1; font-weight: bold;">Tactics</span></h1>
  </div>
  <form id="search-summoner">
    <select id="serverSelect" name="region" required>
      <option value="euw1">EUW</option>
      <option value="eun1">EUNE</option>
      <option value="na1">NA</option>
    </select>
    <svg style="margin: 0 10px;" width="4" height="27" viewBox="0 0 3 27" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line x1="1.5" y1="0.4375" x2="1.5" y2="26.3625" stroke="#767677" stroke-width="1"/>
    </svg>
    <svg width="22" height="22" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M11.4375 1.7C6.73828 1.7 2.9375 5.50078 2.9375 10.2C2.9375 14.8992 6.73828 18.7 11.4375 18.7C13.1152 18.7 14.668 18.2078 15.9844 17.3719L22.125 23.5125L24.25 21.3875L18.1875 15.3406C19.2773 13.9109 19.9375 12.1394 19.9375 10.2C19.9375 5.50078 16.1367 1.7 11.4375 1.7ZM11.4375 3.7C15.0371 3.7 17.9375 6.60039 17.9375 10.2C17.9375 13.7996 15.0371 16.7 11.4375 16.7C7.83789 16.7 4.9375 13.7996 4.9375 10.2C4.9375 6.60039 7.83789 3.7 11.4375 3.7Z" fill="#767677"/>
    </svg>      
    <input id="summonerName" type="text" name="summoner" required placeholder="Summoner Name">
    <p style="color: #767677;">#</p>
    <input id="tag" type="text" name="tag" required placeholder="TAG">
    <button id="searchButton" type="submit">SEARCH</button>
  </form>
  <div class="description" style="margin-bottom: 20px;">
    <p style="text-align: center; line-height: 25px; font-weight: 100;">Get insights on how to win any match-up, understand your champion, and carry your team to victory.<br>
      <span style="color: #28A9E1;">Know your opponents</span> - <span style="color: #28A9E1;">Predict their next move</span> - <span style="color: #28A9E1;">React faster</span></p>
  </div>
    <a id="openBtn" class="button-new">
      <span>Watch Video</span>
    </a>
    <div id="videoModal" class="modal">
        <div class="modal-content">
            <iframe id="youtubeVideo" width="100%" height="100%" src="" frameborder="0"></iframe>
        </div>
    </div>
  <div class="boxes">
    <div class="box box1">
      <div class="box-background-image"></div>
      <div class="tint"></div>
      <div class="box-back"></div>
      <div class="box-front"><h3>AMAZING ITEM<br>SUGGESTIONS</h3></div>
      <div class="box-champ"></div>
    </div>
    <div class="box box2">
      <div class="box-background-image"></div>
      <div class="tint"></div>
      <div class="box-back"></div>
      <div class="box-front"><h3>STRATEGIES &<br>WARNINGS</h3></div>
      <div class="box-champ"></div>
    </div>
    <div class="box box3">
      <div class="box-background-image"></div>
      <div class="tint"></div>
      <div class="box-back"></div>
      <div class="box-front"><h3>WIN MORE<br>GAMES</h3></div>
      <div class="box-champ"></div>
    </div>
  </div>
</div>
