<div style="display: flex; justify-content: center; align-items: center; margin-top: 100px; flex-direction: column;">
    <div style="width: 650px; display: flex; justify-content: center; flex-direction: column; align-items: center;">
        <h2 style="font-weight: 400;">Summoner Not Found.</h2>
        <form id="search-summoner">
            <select id="serverSelect" name="region" required>
              <option value="na1">NA</option>
              <option value="euw1">EUW</option>
              <option value="eun1">EUNE</option>
              <option value="kr">KR</option>
              <option value="br1">BR</option>
              <option value="jp1">JP</option>
              <option value="ru">RU</option>
              <option value="oc1">OCE</option>
              <option value="tr1">TR</option>
              <option value="la1">LAN</option>
              <option value="la2">LAS</option>
              <option value="ph2">PH</option>
              <option value="sg2">SG</option>
              <option value="th2">TH</option>
              <option value="tw2">TW</option>
              <option value="vn2">VN</option>
            </select>
            <svg style="margin: 0 10px;" width="3" height="25" viewBox="0 0 3 27" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line x1="1.5" y1="0.4375" x2="1.5" y2="26.3625" stroke="#9a9a9a" stroke-width="1"/>
            </svg>
            <svg width="18" height="18" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.4375 1.7C6.73828 1.7 2.9375 5.50078 2.9375 10.2C2.9375 14.8992 6.73828 18.7 11.4375 18.7C13.1152 18.7 14.668 18.2078 15.9844 17.3719L22.125 23.5125L24.25 21.3875L18.1875 15.3406C19.2773 13.9109 19.9375 12.1394 19.9375 10.2C19.9375 5.50078 16.1367 1.7 11.4375 1.7ZM11.4375 3.7C15.0371 3.7 17.9375 6.60039 17.9375 10.2C17.9375 13.7996 15.0371 16.7 11.4375 16.7C7.83789 16.7 4.9375 13.7996 4.9375 10.2C4.9375 6.60039 7.83789 3.7 11.4375 3.7Z" fill="#9a9a9a"/>
            </svg>      
            <input id="summonerName" type="text" name="summoner" required placeholder="Summoner Name">
            <p style="color: #9a9a9a;">#</p>
            <input id="tag" type="text" name="tag" required placeholder="TAG">
            <button id="searchButton" type="submit">SEARCH</button>
          </form>
    </div>
</div>