.blog-post-card {
    transition: all 0.3s;
}

.blog-post-card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.all-blogs {
    max-width: 1000px; 
    margin: auto; 
    padding: 60px 80px;
}

@media screen and (max-width: 800px) {
    .all-blogs {
        padding: 0px 0px;
    }
    
}