.inner {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}
#search-summoner {
    margin: 60px 0 40px;
}
#search-summoner {
    display: flex;
    align-items: center;
    width: 520px;
    height: 40px;
    justify-content: space-between;
    background-color: #0E1223;
    border-radius: 8px;
}
#summonerName {
    flex: 1;
    padding-left: 10px;
    font-size: 16px;
}
#tag {
    font-size: 16px;
}
#summonerName:focus, #serverSelect:focus, #tag:focus {
    outline: none;
    background-color: #0E1223;
}

#serverSelect, #summonerName, #tag {
    background-color: transparent;
    color: #fff;
    border: none;
}

#searchButton {
    background-color: #28A9E1;
    color: white;
    border: none;
    cursor: pointer;
    height: 95%;
    width: 90px;
    border-radius: 0 8px 8px 0;
}

#searchButton:hover {
    background-color: #1a7ca2;
}

select {
    margin-left: 10px;
    padding: 5px 15px 5px 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('/assets/dropdown-icon.svg') 96% / 15% no-repeat;
}