.inner {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}
#search-summoner {
    margin: 60px 0 40px;
}
#search-summoner {
    display: flex;
    align-items: center;
    width: 520px;
    height: 40px;
    justify-content: space-between;
    background-color: #0E1223;
    border-radius: 8px;
}
#summonerName {
    flex: 1;
    padding-left: 10px;
    font-size: 16px;
}
#tag {
    font-size: 16px;
}
#summonerName:focus, #serverSelect:focus, #tag:focus {
    outline: none;
    background-color: #0E1223;
}

#serverSelect, #summonerName, #tag {
    background-color: transparent;
    color: #fff;
    border: none;
}

#searchButton {
    background-color: #CE3E3E;
    color: white;
    border: none;
    cursor: pointer;
    height: 95%;
    width: 90px;
    border-radius: 0 8px 8px 0;
}

#searchButton:hover {
    background-color: #962d2d;
}

select {
    margin-left: 10px;
    padding: 5px 15px 5px 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('/assets/dropdown-icon.svg') 96% / 15% no-repeat;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    max-width: 1600px;
    margin-top: 120px;
}
.box {
    width: 400px;
    height: 180px;
    overflow: hidden;
}
.box-background-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    width: 400px;
    height: 180px;
    filter: grayscale(1);
    z-index: 0;
}
.box1 .box-background-image{
    background-image: url('/assets/box1.jpg');
    
}
.box2 .box-background-image{
    background-image: url('/assets/box2.jpg');
}
.box3 .box-background-image{
    background-image: url('/assets/box3.jpg');
}
.tint {
    position: absolute;
    width: 400px;
    height: 180px;
    background-color: #000;
    opacity: 50%;
    z-index: 0;
}
.box-back {
    position: absolute;
    width: 400px;
    height: 180px;
    background-color: #5a7d8a;
    opacity: 15%;
    z-index: 1;
}
.box-front {
    position: absolute;
    text-align: end;
    width: 400px;
    height: 180px;
    z-index: 2;
}
.box-front h3 {
    font-weight: bold;
    line-height: 37px;
    margin-top: 40px;
    padding-right: 15px;
}
.box-champ {
    z-index: 3;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.8));
}
.box1 .box-champ {
    width: 350px;
    height: 220px;
    background-image: url('/assets/ashe.png');
    margin-top: -40px;
}
.box2 .box-champ {
    width: 350px;
    height: 220px;
    background-image: url('/assets/kha.png');
    margin-top: -40px;
    margin-left: -70px;
}
.box3 .box-champ {
    width: 220px;
    height: 220px;
    background-image: url('/assets/riven.png');
}
body::before {
    content: '';
    position: absolute;
    top: -13%;
    right: -10%;
    width: 43%;
    height: 100%;
    background: url('/assets/logo-big.png') no-repeat top right;
    background-size: 100% auto;
    opacity: 0.12;
    z-index: -1;
    transform: scaleX(-1);
}
#nav-btn {
    transition: all 0.13s ease-in-out;
}
#nav-btn:hover {
    transform: scale(1.06);
}

@media screen and (max-width: 800px) {
    .boxes {
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
    }
    .box {
        margin-top: 70px;

    }
    #search-summoner {
        width: 90%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #search-summoner input{
        font-size: 13px !important;

    }
    #search-summoner #summonerName {
        width: 30%;
    }
    #search-summoner #tag {
        width: 12%;
    }
    #search-summoner #serverSelect {
        width: 15%;
    }
    #search-summoner svg {
        width: 15px;
        margin: 0px !important;
    }
    #searchButton {
        width: 20%;
    }
    #logo {
        border-bottom: 1px solid #21284b;
        width: 100%;
        display: flex;
    }
    a {
        margin: auto;
    }
}