.inner {
    display: flex;
    flex: 1;
    justify-content: center;
}
.banner-sides {
    width: 230px;
}
.banner-ad-sides {
    margin: 0 20px;
    height: 70%;
    max-height: 650px;
}
/* .banner-ad-left {
    background: url('/assets/ad-led.png') no-repeat top center / cover;
}
.banner-ad-right {
    background: url('/assets/ad-wall-panels.png') no-repeat top center / cover;
} */

.board {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 1300px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s ease;
}

#summoner-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #28A9E1;
}

#summoner-name {
    font-size: 20px;
}

#summoner-region {
    background-color: #28A9E1;
    padding: 3px 6px;
    border-radius: 4px;
    width: min-content;
    font-size: 13px;
    text-transform: uppercase;
}

#summoner-level {
    position: absolute;
    background-color: #28A9E1;
    padding: 3px 7px;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: -5px;
    letter-spacing: 0.5px;
    font-weight: 100;
}

/* loading animations */
#loading {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
#loading h3 {
    z-index: 1;
}
#loading-animation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    margin-top: -100px;
}

#loading-animation .content {
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
}

#loading-animation .surface {
    background: 
        radial-gradient(circle at 34.3% 49.65%, #000 2vmin, #32b3eb 4vmin 4vmin, #fff0 5vmin 100% ),
        radial-gradient(circle at 34.3% 49.65%, #000 2vmin, #32b3eb 4vmin 4vmin, #fff0 5vmin 100% ),
        #050712;
    width:350px;
    height:1450px;
    transform: rotateX(80deg);
    background-repeat: no-repeat;
    background-size: 50% 30%, 50% 30%, 100% 100%;
    background-position: 11% 49%, 120% 49%, 0 0;
}

.loader { 
    position: absolute;
    width: 250px;
    height: 250px;
    background: url('/assets/poromentor.png') no-repeat center center / cover;
    background-size: 5vmin 5vmin;
    background-position: 0.1vmin 47%, 0.05vmin 48%, 0.025vmin 50%, 0.0125vmin 53%, 0.0125vmin 56%;
    background-repeat: no-repeat;
    animation: loading-right 4s ease-out 0.3s infinite;
}

@keyframes loading-right {
    0% { transform: rotate(0deg); }
    83% { transform: rotate(360deg); }
    100% { transform: rotate(360deg); }
}

#main {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.container-title {
    display: flex; 
    align-items: center; 
    gap: 8px; 
    border-radius: 6px 6px 0 0;
    padding: 5px 15px; 
    width: fit-content;
    height: 20px;
}

.data {
    display: flex;
    justify-content: space-evenly;
    background-color: #191937; 
    padding: 40px 20px;
}

.row {
    display: flex;
    flex: 1;
    gap: 25px;
    width: 100%;
    margin-top: 25px;
}

.tools {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.power-spikes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: -10px;
}
.power-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.power-spike {
    width: 12px;
    height: 12px;
    border: 1px solid #a09b8c1a;
    border-radius: 100%;
    background: linear-gradient(120deg, #26264e 0%, #323261 30%, #323261 45%, #26264e 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: loading-last 2s infinite;
    transition: background-color 0.3s ease;
}

.power-explainers {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}

.power-explainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-left: 10px;
}

.loading-bars {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.loading-bar {
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    animation: scale-up4 1s linear infinite;
}

.loading-bar:nth-child(2) {
    height: 35px;
    margin: 0 5px;
    animation-delay: .25s;
}

.loading-bar:nth-child(3) {
    animation-delay: .5s;
}

@keyframes scale-up4 {
    20% {
        background-color: #ffff;
        transform: scaleY(1.5);
    }

    40% {
        transform: scaleY(1);
    }
}
.button-new {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 120px;
    height: 35px;
    color: #fff;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: 0.25s ease;
}

.button-new::after {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.button-new::after {
    content: "";
    background-image: url('../assets/poromentor.png');
    background-size: cover; 
    width: 14px;
    height: 14px;
    position: absolute;
    left: -20%;
    transition: 0.25s ease;
}
.button-new span {
    transition: 0.25s ease;
}
.button-new:hover span {
    margin-left: 20px;
}
.button-new:hover:after {
    left: 20px;
}
.button-new::after {
    left: 120%;
}
.button-new:hover span {
    margin-left: 0;
    margin-right: 20px;
}
.button-new:hover:after {
    left: calc(100% - 27px);
}

.chart {
    margin-top: -15px;
    margin-left: 35px;
    max-width: 200px !important;
    max-height: 200px !important;
}

.tools {
    max-width: 250px;
    width: 20vw;
}

.item-container {
    width: 45px;
    height: 45px;
    background-color: #121233;
    border: 0.5px solid #ffffff5e;
    position: relative;
    display: inline-block;
}

.item-container img {
    width: 45px;
    height: 45px;
}

.description-item1, .description-item2, .description-item3, .description-item4, .description-item5, .description-item6 {
    visibility: hidden;
    display: flex;
    width: max-content;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    text-align: left;
    border-radius: 3px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 40%;
    opacity: 0;
    transition: opacity 0.3s;
}

.item1:hover .description-item1, .item2:hover .description-item2, .item3:hover .description-item3, .item4:hover .description-item4, .item5:hover .description-item5, .item6:hover .description-item6 {
    visibility: visible;
    opacity: 1;
}

.analysis-text {
    font-size: 15px;
}

.skeleton-text {
    width: 70%;
    height: 15px;
    margin-top: 2px;
    background: linear-gradient(120deg, #26264e 0%, #323261 30%, #323261 45%, #26264e 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    border-radius: 4px;
    animation: loading-last 2s infinite;
}

@keyframes loading-last {
    100% {
        background-position: -100% 0;
    }
}

.reasons div {
    padding: 8px 16px;
    background-color: #323265;
    border-radius: 6px 6px 0 0;
}

.reasons div:hover {
    background-color: #3f3f77;
    cursor: pointer;
}

.reasons div img {
    width: 25px;
    height: 25px;
    border: 0.5px solid #ffffff5e;
}

.reasons .selected {
    background-color: #0D0D20;
}

.reasons .selected:hover {
    background-color: #0D0D20 !important;
}

#reason-item1, #reason-item2, #reason-item3, #reason-item4, #reason-item5, #reason-item6 {
    font-weight: 100;
    font-size: 15;
    color: rgba(255,255,255,0.8);
    line-height: 19px;
}

img[src=""] {
    visibility: hidden;
}

.item-container {
    background: linear-gradient(90deg, #26264e 0%, #323261 30%, #323261 45%, #26264e 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: loading-last 2s infinite;
}

mainText, stats {
    display: block;
    max-width: 200px;
    font-size: 14px;
}

attention {
    font-weight: bold;
}