.inner {
    display: flex;
    flex: 1;
}
.banner-sides {
    width: 230px;
}
.banner-ad-sides {
    margin: 0 20px;
    height: 70%;
    max-height: 650px;
}
.banner-ad-left {
    background: url('/assets/ad-led.png') no-repeat top center / cover;
}
.banner-ad-right {
    background: url('/assets/ad-wall-panels.png') no-repeat top center / cover;
}

.board {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.analysis {
    flex: 1;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    width: 192px;
    height: 39px;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s ease;
}

.btn-home {
    background-color: #1A617F;
}
.btn-home:hover {
    background-color: #237091;
}
.btn-reload {
    background-color: #39487C;
}
.btn-reload:hover {
    background-color: #475792;
}
#btn-share {
    background-color: #fb7600;
    border-color: #fb7600;
}
#btn-share:hover {
    background-color: #ff861d;
    border-color: #fb7600;
}

.contact {
    text-align: center;
    margin: 30px 0px;
    font-weight: 100;
    line-height: 18px;
}


/* loading animations */
#loading {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}
#loading h3 {
    z-index: 1;
}
#loading-animation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    margin-top: -100px;
}

#loading-animation .content {
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
}

#loading-animation .surface {
    background: 
        radial-gradient(circle at 34.3% 49.65%, #000 2vmin, #32b3eb 4vmin 4vmin, #fff0 5vmin 100% ),
        radial-gradient(circle at 34.3% 49.65%, #000 2vmin, #32b3eb 4vmin 4vmin, #fff0 5vmin 100% ),
        #050712;
    width:350px;
    height:1450px;
    transform: rotateX(80deg);
    background-repeat: no-repeat;
    background-size: 50% 30%, 50% 30%, 100% 100%;
    background-position: 11% 49%, 120% 49%, 0 0;
}

.loader { 
    position: absolute;
    width: 250px;
    height: 250px;
    background: url('/assets/poromentor.png') no-repeat center center / cover;
    background-size: 5vmin 5vmin;
    background-position: 0.1vmin 47%, 0.05vmin 48%, 0.025vmin 50%, 0.0125vmin 53%, 0.0125vmin 56%;
    background-repeat: no-repeat;
    animation: loading-right 4s ease-out 0.3s infinite;
}

@keyframes loading-right {
    0% { transform: rotate(0deg); }
    83% { transform: rotate(360deg); }
    100% { transform: rotate(360deg); }
}

#main {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}
#vs-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18px;
    margin-top: -80px;
    margin-bottom: 40px;
}
#team-red-icons, #team-blue-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
#team-red-icons .champion-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid rgba(194, 8, 8, 0.5); /* More opaque border in the same color */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Soft shadow for depth */
    backdrop-filter: blur(10px); /* Blur the background behind the element */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

#team-red-icons .champion-icon:hover {
    transform: scale(1.1); /* Enlarge the icon */
    background: rgba(194, 8, 8, 0.6); /* More intense color on hover */
    border: 2px solid rgba(194, 8, 8, 0.7); /* More intense border color */
}

#team-blue-icons .champion-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid rgba(8, 116, 194, 0.5); /* More opaque border in the same color */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Soft shadow for depth */
    backdrop-filter: blur(10px); /* Blur the background behind the element */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

#team-blue-icons .champion-icon:hover {
    transform: scale(1.1); /* Enlarge the icon */
    background: rgba(8, 116, 194, 0.6); /* More intense color on hover */
    border: 2px solid rgba(8, 116, 194, 0.7); /* More intense border color */
}


.comp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.comp h5 {
    font-weight: 100;
}
.comp p {
    padding-top: 4px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 1px;
}
.analysis {
    display: flex;
    flex: 1;
    width: 100%;
    margin-top: 17px;
    margin-bottom: 10px;
}

.match-analysis {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 35px;
    flex-wrap: wrap;
    margin: 0px 20px;
}

.general-strategy-analysis {
    width: 30%;
}

.warnings-analysis {
    width: 40%;
}

.row {
    display: flex;
    flex: 1;
    gap: 25px;
}
.general-strategy-analysis::before {
    content: "";
    width: 102%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #28A9E1, #39487C 43%, #1A617F);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -1%;
      animation: spin 3s linear infinite;
  }
.general-strategy-analysis::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(100px);
    background-image: linear-gradient(
      var(--rotate)
      , #28A9E1, #39487C 43%, #1A617F);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }
    100% {
        --rotate: 360deg;
    }
}
@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
    }

    :root {
    --card-height: 25vh;
    --card-width: calc(var(--card-height) / 1.5);
}

.tools {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
}

.power-spikes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: -20px;
    padding-bottom: 10px;
}
.power-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.power-spike {
    width: 20px;
    height: 6px;
    border: 1px solid #a09b8c1a;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.power-explainers {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}

.power-explainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-left: 10px;
}

.analysis-box {
    background: #070a1b;
    position: relative;
    border-radius: 8px;
    padding: 20px;
    min-height: 23vh;
}
.general-strategy-analysis {
    border: 1px solid #353ea0;
}
.earlygame-strategy-analysis, .earlygame-objectives-analysis {
    border: 1px solid #6c74df;
    flex: 1;
}
.midgame-objectives-analysis {
    border: 1px solid #c99854;
    flex: 1;
}
.lategame-strategy-analysis {
    border: 1px solid #59c891;
    flex: 1;
}
.warnings-analysis {
    border: 1px solid #9e365b;
}

.general-strategy-analysis h4 {
    border: 1px solid #353ea0;
}
.earlygame-strategy-analysis h4, .earlygame-objectives-analysis h4 {
    border: 1px solid #6c74df;
}
.midgame-objectives-analysis h4 {
    border: 1px solid #c99854;
}
.lategame-strategy-analysis h4 {
    border: 1px solid #59c891;
}
.warnings-analysis h4 {
    border: 1px solid #9e365b;
}

.general-strategy-analysis b {
    color: #353ea0;
    font-weight: 900 !important;
}
.earlygame-strategy-analysis b, .earlygame-objectives-analysis b {
    color: #6c74df;
    font-weight: 900 !important;
}
.midgame-objectives-analysis b {
    color: #c99854;
    font-weight: 900 !important;
}
.lategame-strategy-analysis b {
    color: #59c891;
    font-weight: 900 !important;
}
.warnings-analysis b {
    color: #9e365b;
    font-weight: 900 !important;
}

.analysis-box h4 {
    font-size: 14px;
    position: absolute;
    padding: 5px 20px;
    border-radius: 100px;
    background-color: #070a1b;
    margin-top: -34px;
}
.analysis-box p {
    font-weight: 100;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF; /* White text for contrast */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.loading-bars {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.loading-bar {
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    animation: scale-up4 1s linear infinite;
}

.loading-bar:nth-child(2) {
    height: 35px;
    margin: 0 5px;
    animation-delay: .25s;
}

.loading-bar:nth-child(3) {
    animation-delay: .5s;
}

@keyframes scale-up4 {
    20% {
        background-color: #ffff;
        transform: scaleY(1.5);
    }

    40% {
        transform: scaleY(1);
    }
}
.button-new {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 120px;
    height: 35px;
    color: #fff;
    background: #1C7BA5;
    border-color: #1C7BA5;
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: 0.25s ease;
}

.button-new::after {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.button-new::after {
    content: "";
    background-image: url('../assets/poromentor.png');
    background-size: cover; 
    width: 14px;
    height: 14px;
    position: absolute;
    left: -20%;
    transition: 0.25s ease;
}
.button-new span {
    transition: 0.25s ease;
}
.button-new:hover span {
    margin-left: 20px;
}
.button-new:hover:after {
    left: 20px;
}
.button-new::after {
    left: 120%;
}
.button-new:hover span {
    margin-left: 0;
    margin-right: 20px;
}
.button-new:hover:after {
    left: calc(100% - 27px);
}