#search-summoner {
    margin: 25px 0 50px;
}
#search-summoner {
    display: flex;
    align-items: center;
    height: 38px;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 8px;
    border: 2px solid #dfdfdf;
}
#summonerName {
    flex: 1;
    padding-left: 10px;
    font-size: 14px;
}
#tag {
    font-size: 14px;
}
#summonerName:focus, #serverSelect:focus, #tag:focus {
    outline: none;
}

#serverSelect, #summonerName, #tag {
    background-color: transparent;
    color: #000;
    border: none;
}

#searchButton {
    background-color: #FF4655;
    color: white;
    border: transparent;
    cursor: pointer;
    margin-top: -1px;
    margin-right: -1px;
    height: 42px;
    width: 90px;
    border-radius: 0 8px 8px 0;
}

#searchButton:hover {
    background-color: rgb(169, 37, 37);
}

select {
    margin-left: 10px;
    padding: 5px 15px 5px 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('/assets/dropdown-icon.svg') 96% / 15% no-repeat;
}

#result-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #1c1c1db0;
    border-radius: 10px;
    width: 100%;
    max-width: 320px;
    height: 32px;
}
#result-container {
    position: relative;
    width: 100%;
    height: 100%;
}
#percentage-bar {
    position: absolute;
    background-color: #d4bf20;
    border-radius: 10px;
    width: 72%;
    height: 100%;
}
#result-text {
    position: absolute;
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#result-info {
    text-align: center;
    max-width: 500px;
}
#analysis-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#summoner-info {
    display: flex;
    width: 1050px;
    background: url('/assets/profile-background.png') no-repeat center center;
    background-size: cover;
    padding: 20px;
    height: 150px;
    box-sizing: border-box;
    margin-top: 30px;
    gap: 12px;
}
#summoner-icon {
    width: 78px;
    height: 78px;
    border-radius: 50%;
}
#update-btn {
    background-color: #5393CA;
    color: white;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 14px;
}
#update-btn:hover {
    background-color: #3A7FA4;
}

#account-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1050px;
    gap: 5px;
}
#account-ranks {
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.rank-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 20px;
    background-color: #fff;
    border: 1px solid #E5E7EB;
    min-height: 110px;
    gap: 10px;
}
#rank-chart {
    flex: 1;
    background-color: #fff;
    border: 1px solid #E5E7EB;
    height: 100%;
    width: 100%;
}
.rank-box img {
    height:80px;
}
#performance-chart-container {
    padding: 10px;
    border: 1px solid #E5E7EB;
    background-color: #fff;
    flex: 1;
    width: 100%;
    height: 229px;
    box-sizing: border-box;
}
#performance-chart {
    width: 100% !important;
    height: auto !important;
}
#overall-account-stats {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    width: 270px;
    min-height: 229px;
    box-sizing: border-box;
    gap: 5px;
}
.overall-account-stats-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    flex: 1;
    background-color: #fff;
    border: 1px solid #E5E7EB;
}
#match-history {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}
.match-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}
.match-container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #E5E7EB;
    margin: 5px 0;
}
.score-container, .playing-champ, .performance-rank, .ally-team-score, .enemy-team-score {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.playing-champ {
    height: 50px;
    width: 50px;
}
.win-match {
    background-color: #EBF3FB;
}
.lose-match {
    background-color: #FFEAEA;
    border-color: #F6E5E7;
}
.ally-team-players a, .enemy-team-players a {
    color: #000;
}
.ally-team-players div, .enemy-team-players div {
    display: flex;
    align-items: center;
    padding: 1px;
    gap: 3px;
    cursor: pointer;
}
.ally-team-players img, .enemy-team-players img {
    height: 14px;
    width: 14px;
}
.ally-team-players small, .enemy-team-players small {
    min-width: 55px;
    max-width: 55px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.performance-rank img {
    margin: 4px;
    height: 40px;
    width: 40px;
}
.win-banner {
    position: relative;
    background-color: #5393CA;
    width: 4px;
    height: 90px;
}
.lose-banner {
    position: relative;
    background-color: #ED6767;
    width: 4px;
    height: 90px;
}
.title-big {
    font-size: 13px;
    font-weight: 500;
    color: #666666;
}
.score-big {
    font-size: 18px;
    color: #000;
    margin: 5px 0px;
}
.main-score {
    cursor: pointer;
}
#popup {
    width: 150px;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #383838;
    border-radius: 3px;
    padding: 10px 25px;
    z-index: 1000;
    color: #fff;
}
#popup-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 8px;
}
#popup-scores {
    margin: 5px 0;
    width: 100%;
}
.popup-score-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin: 7px 0;
    gap: 25px;
}
.popup-score-container p {
    font-size: 12px;
}
.popup-chart-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.popup-chart-container canvas {
    width: 35px !important;
    height: 23px !important;
}
.popup-score {
    position: absolute;
    justify-self: start;
    font-size: 10px;
}
#popup-arrow {
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: -15px;
    left: 52%;
}
#load-more-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
#load-more-btn {
    display: none;
}
#loader {
    display: flex;
}
#load-more-btn, #loader {
    width: 1050px;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #666666;
    border: 1px solid #E5E7EB;
    cursor: pointer;
    box-sizing: border-box;
}